.fruta-1{
    color:red ;
}

.fruta-2{
    color:rgb(255, 221, 0) ;
}

.fruta-3{
color: rgb(231, 33, 99);
}

.fruta-4{
    color:rgb(242, 114, 23) ;
}

.fruta-5{
    color:rgb(85, 7, 94) ;
}

.fruta-6{
    color:rgb(233, 175, 41) ;
}

.fruta-7{
    color:rgb(20, 135, 26) ;
}

.fruta-8{
    color:rgb(93, 8, 65) ;
}

.fruta-9{
    color:rgb(200, 70, 15) ;
}

.fruta-10{
    color:rgb(234, 108, 34) ;
}