ul {
    list-style-type: none;
    padding: 0;
}

li{
    padding: 10px;
    margin: 0;
    background-color: lightgray;
    cursor: pointer;
    transition: background-color 0.3s;
}

/*.resaltado {
    background-color: orange;
}*/

.rojo { background-color: red; }
.azul { background-color: blue; }
.verde { background-color: green; }
.amarillo { background-color: yellow; }
.naranja { background-color: orange; }