/* Establecer tamaños diferentes para cada emoji */
.emoji1 {
    font-size: 3rem;
}
.emoji2 {
    font-size: 2rem;
}
.emoji3 {
    font-size: 4rem;
}
.emoji4 {
    font-size: 5rem;
}
.emoji5 {
    font-size: 3.5rem;
}
.emoji6 {
    font-size: 6rem;
}
.emoji7 {
    font-size: 2.5rem;
}
.emoji8 {
    font-size: 3.8rem;
}
.emoji9 {
    font-size: 4.5rem;
}
.emoji10 {
    font-size: 2rem;
}