body {
    font-family: 'Montserrat', serif;
}

.Titulo-principal {
font-size: 7.5rem;
font-weight: 800;
}

.p {
    font-size: 3rem;
font-weight: 600;
}

.color-1 {
    color: #3396ff; /* Naranja */
}

.color-2 {
    color: #ffcc33; /* Azul */
}

.color-3 {
    color: #82e01a; /* Verde */
}